@import "config";
@import "home";

// ROOT //

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: $background-color;
    color: $text-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    @include desktop(){
        font-size: 20px;
    }  
}
a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
    &:-webkit-link{
        color: inherit;    
    }
}
h1, h2, h3, h4, h5 ,h6{
    font-weight: initial;    
}
p{
    max-width: 60ch;
}
.text-highlight{
    font-weight: 700;
    color: $secondary-color;
}
.text-novelty{
    font-family: "Lobster", cursive;
    letter-spacing: 2px;
}
.vertical-scroll{
    &::-webkit-scrollbar{
        width:1rem;
    }
    &::-webkit-scrollbar-track{
        background: $container-color;
    }
    &::-webkit-scrollbar-thumb{
        background: linear-gradient(to top, $secondary-color, tint($secondary-color,30%));
        border-radius: 100vw;
        border-color: $container-color;
        border: 0.2rem solid $container-color;
        
    }
    &::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(to top, tint($secondary-color,30%), tint($secondary-color,60%));
    }
}
.horizontal-scroll{
    &::-webkit-scrollbar{
        height:1.5rem;
        margin-top: 0.2rem;
    }
    &::-webkit-scrollbar-track{
        background: $container-color;
        border-radius: 100vw;
    }
    &::-webkit-scrollbar-thumb{
        background: linear-gradient(to right, $secondary-color, tint($secondary-color,30%));
        border-radius: 100vw;
        border-color: $container-color;
        border: 0.2rem solid $container-color;
        
    }
    &::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(to right, tint($secondary-color,30%), tint($secondary-color,60%));
    }
}

// HEADER //

header{
    background: rgba(0, 0, 0, 0);
    width: 100%;
    @include flex-centre(row);
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 0.4rem;
    nav{
        display: none;
        @include tablet(){
            .active{
                font-weight: 600;
            }
            display: block;
            .menu-nav{
                padding-right: 1rem;
                &__item{
                    display: inline;
                    padding: 0 0.4rem;
                    position: relative;
                    .menu-nav__item-rule{
                        content: "";
                        position: absolute;
                        width: 0;
                        border-top: 1px solid $secondary-color;
                        top:110%;
                        left:0;
                        z-index: 1;
                        @include transition-ease
                    }              
                }
                &-link{
                    @include drop-shadow;
                }
            }
        }
    }
    .social-icons a{
        padding: 0 0.4rem;
    }
    .social-icons i{
        @include drop-shadow;
        @include transition-ease;
        &:hover{
            color: $secondary-color;
        }
    }
}
.menu-nav__item:hover{
    .menu-nav__item-rule{
        width: 100%;
    }
}

// MAIN //

section{
    @include flex-centre(column);
    width:100%;
    padding: 3rem 1rem;
    &::after{
        position: absolute;
    }
}

.solid-background{
    background: $primary-color;
}
.secondary-background{
    background: $secondary-color;
}
.container-background{
    background: $container-color;
}


.container{
    @include flex-centre(column);
    margin: auto;
}
.wrapper{
    @include flex-centre(column);
    @include tablet(){
        @include flex-centre(row)
    }
    margin: auto; 
    
}

// FOOTER //

footer{
    background: $primary-color;
    padding: 1rem;
}